<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/WEB-INF/page-fragment/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>HtmlTutorialGenerateServlet</display-name>
		<servlet-name>HtmlTutorialGenerateServlet</servlet-name>
		<servlet-class>html.HtmlTutorialGenerateServlet</servlet-class>
		<init-param>
			<description>
			the path of htmltutorial fragment setting file</description>
			<param-name>tutorial-fragment-config</param-name>
			<param-value>/WEB-INF/html-tutorial/html-tutorial.properties</param-value>
		</init-param>
		<init-param>
			<description>
		    the path of html-tutorial framework page file
		  </description>
			<param-name>tutorial-fragment-skeleton</param-name>
			<param-value>/WEB-INF/html-tutorial/html-tutorial.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HtmlTutorialGenerateServlet</servlet-name>
		<url-pattern>/HtmlTutorialGenerateServlet</url-pattern>
		<url-pattern>/html-tutorial.html</url-pattern>
		<url-pattern>/html-tutorial</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>proposal</servlet-name>
		<jsp-file>/WEB-INF/proposal/proposal.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServerInfo</display-name>
		<servlet-name>ServerInfo</servlet-name>
		<servlet-class>system.ServerInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>proposal</servlet-name>
		<url-pattern>/proposal.jsp</url-pattern>
		<url-pattern>/proposal.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerInfo</servlet-name>
		<url-pattern>/ServerInfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>working</servlet-name>
		<jsp-file>/WEB-INF/system-message/working.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		servlet response for generate css tutorial content</description>
		<display-name>CssTutorialGenerateServlet</display-name>
		<servlet-name>CssTutorialGenerateServlet</servlet-name>
		<servlet-class>css.CssTutorialGenerateServlet</servlet-class>
		<init-param>
			<description>
			file path of css tutorial config file path</description>
			<param-name>cssTutorialConfigFilePath</param-name>
			<param-value>/WEB-INF/css-tutorial/css-tutorial.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>working</servlet-name>
		<url-pattern>/working</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CssTutorialGenerateServlet</servlet-name>
		<url-pattern>/css-tutorial</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CssTutorialGenerateServlet</servlet-name>
		<url-pattern>/css-tutorial.html</url-pattern>
	</servlet-mapping>

    <servlet>
       <servlet-name>test-output</servlet-name>
       <jsp-file>/WEB-INF/page-fragment/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
       <servlet-name>test-output</servlet-name>
       <url-pattern>/test</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
